*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
header {
    width:100%;height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1));
    background-image:url('..//images/kedarnath.jpg');
    animation: change 10s infinite ease-in-out;
    background-repeat: no-repeat;
     background-size: cover;  
     
}
nav {
    width: 100% ; height : 15vh ;
    background: rgba(0,0,0,0.5);
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo {
    width:25%;
    text-align: center;
    /*background: red;*/
}
nav .menu{
    width: 40%;
    /*background: yellow;*/
    display: flex;
    justify-content: space-around;


}
nav .menu a {
    width:25%;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}

main{
    width: 100%;
    height: 85vh;
    /*background: green*/;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
section h1 {
    /*margin: 30px 0 20px 0 ;*/
    font-size: 55px;
    font-weight: 700 ;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}





section h3{
    font-size: 35px; font-weight: 200; letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    /*color:antiquewhite */
}
section p {
    /*margin: 30px 0 20px 0 ;*/
    font-size: 25px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
     
    word-spacing: 2px;
}
section a{
padding: 12px 30px;
border-radius:4px ;
outline: none;
text-transform: uppercase;
font-size: 13px;
font-weight: 500;
text-decoration: none ;
letter-spacing: 1px;
transition: all .5s ease;
}

section .btn1 {
    background: #fff;
    color: black;
/*background-color: #00b894;*/


}
section .btn2 {
    background: #00b894;
    color: white;
/*background-color: #00b894;*/


}
/*.animate__heartbeat{


    -o-animation-duration: 10s;
    animate__bounce

}*/
.animate__animated.animate__heartBeat {
    --animate-duration: 1000s;
  }
  .btn2 :hover{

    background: rgb(67, 14, 14);
    color: rgb(12, 132, 48);

}
.btn1 :hover{

    background: #00b894;
    color: white;

}
nav .menu a:first-child {
    color:#00b894;
}
.change_content:after{
    content:'';
    animation: changetext 10s infinite linear;
    /*color:#a40a0a;*/
    color: #00b894;
     
    text-shadow: 1px 1px 2px black;

}
/*:after{
content : "  ";
animation: changetext 10s infinite linear;
color: #00b894;

}*/
@keyframes changetext {
0%{content: "Kedarnath";}
33%{content: "Badrinath";}
66%{content: "Gangotri";}
100%{content: "Yamunotri";}

    
}
@keyframes change {
    0%{background-image:url('..//images/kedarnath.jpg');}
    33%{background-image:url('..//images/badrinath.jpg');}
    66%{background-image:url('..//images/gangotri.jpg');}
    100%{background-image:url('..//images/yamunotri.jpg');}

    
        
}
    